.socialIcons {
    display: flex;
    gap: 20px;
    /* adjust as needed */
    align-items: center;
    justify-content: center;

}


.socialIcon {
    transition: transform 0.3s ease;
}

.socialIcon:hover {
    transform: scale(1.2);
}

.social-icon:last-child {
    margin-right: 0;
}